:root {
    --color-one: #2d334a;
    --color-two: #8e3400;
    --background: #ececec;
    --white: #ffffff;
}

*,
html {
    box-sizing: border-box;

}

#alert {
    margin-top: 10px;
    color: var(--color-two);
}

i {
    color: var(--color-two);
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: auto;
    width: 95vw;
    max-width: 800px;
    overflow: scroll;
}

header {
    color: var(--color-one);
    background-color: var(--background);
    padding: 16px;
    height: 28vh;
    min-height: 250px;
}

.header {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}


.header .img {
    border: 1px solid red;
    border: 3px var(--color-one) solid;
    width: 115px;
    height: 115px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

#profile {
    width: 115px;
    position: relative;
    margin: auto;
}

.name {
    margin-top: 25px;
}

.name p {
    max-width: 75%;
}

header center {
    font-size: 14px;
}

.justify {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
    text-align-last: justify;
}


::-webkit-scrollbar {
    display: none;
}

#links {

    overflow: scroll;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#links * {
    margin: 10px;

}

#links *:hover {
    color: var(--color-two);
    background-color: var(--background);

}

h3 {
    color: var(--color-two);
    font-size: 1.3em;
    text-decoration: wavy;
}

@media only screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .row *,
    instagram-media {
        width: 380px !important;
    }


}