:root {
    --color-one: #4f5778;
    --color-two: #c8e200;
    --background: #d7d7d7;
    --white: #ffffff;
}

*,
html {
    box-sizing: border-box;

}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: auto;
    width: 80vw;
    max-width: 800px;
    overflow: scroll;
}

header {

    color: var(--color-one);
    background-color: var(--background);
    padding: 16px;
    height: 35vh;
    min-height: 250px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}


.header .img {
    border: 3px var(--color-one) solid;
    width: 115px;
    height: 115px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px;

}

header center {

    font-size: 13px;
}

.justify {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
    text-align-last: justify;
}

#links {
    width: 100%;
    margin: auto;

    display: flex;

    justify-content: space-between;
    list-style-type: none;
}

/* #links * {
    padding: 10px;
} */

h3 {
    color: var(--color-two);
    font-size: 1.3em;
    text-decoration: wavy;
}