*,
html {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: auto;
    width: 80vw;
}

header {
    background-color: #e8e4d8;
    padding: 16px;
    height: 30vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}


.header .img {
    border: 3px gray solid;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px;

}

header center {

    font-size: 13px;
}